.game-card {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  aspect-ratio: 1/1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 250px;
  cursor: pointer;
  display: block; /* Убедимся, что контейнер корректно обрабатывает содержимое */
  border-radius: 16px; /* Добавляем такой же border-radius, как у article-card */
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.game-card-image {
  width: 100%;
  height: 100%;
  position: absolute; /* Используем absolute, чтобы изображение точно заполнило контейнер */
  top: 0;
  left: 0;
  display: block;
  object-fit: cover; 
  margin: 0; /* Убираем возможные отступы */
  padding: 0; /* Убираем возможные отступы */
}

.game-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%; /* Увеличиваем высоту для лучшей адаптивности */
  background: rgba(254, 227, 196, 0.64); /* #FEE3C4 с opacity 64% */
  border-radius: 16px 16px 0 0; /* Устанавливаем такой же border-radius, как у article-overlay */
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Растягиваем элементы по горизонтали */
  justify-content: space-between; /* Распределяем элементы по вертикали */
  padding: 10px; /* Отступы для текста */
  color: white;
}

.game-card-overlay h3 {
  color: #572811; /* Цвет текста */
  font-size: 1.5rem; /* Увеличиваем размер шрифта еще больше */
  font-weight: 700; /* Делаем шрифт еще жирнее */
  text-align: left; /* Текст выравниваем по левому краю */
  align-self: flex-start; /* Выравниваем по левому краю */
  margin-bottom: 0.5rem; /* Добавляем отступ снизу для разделения */
  white-space: nowrap; /* Запрещаем перенос строки */
}

.game-card-title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.game-card-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  align-self: flex-end; /* Выравниваем по правому краю */
  color: #572811; /* Устанавливаем тот же цвет, что и для названия комнаты */
  position: relative; /* Устанавливаем relative для контейнера, чтобы absolute позиционирование работало */
}

.admin-badge {
  background: #FFE4D6;
  color: #B3593D;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
  position: absolute;
  top: -1.5rem; /* Располагаем значок над количеством игроков */
  right: 0;
}

.game-card-date {
  color: #572811; /* Тот же цвет, что и для названия комнаты */
  font-size: 0.9rem;
  font-weight: 600;
  align-self: flex-end; /* Выравниваем по нижнему краю */
  margin-right: auto; /* Сдвигаем влево */
}

.gamecard-admin-badge {
  background: #FFE4D6;
  color: #B3593D;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
  position: absolute;
  top: -1.5rem; /* Располагаем значок над количеством игроков */
  right: 0;
}
